git+https://github.com/ForensicArtifacts/artifacts.git@b3e0ea18a55e3d15b7fe671a6e5bd4faab7dc4a4#egg=artifacts
ConfigArgParse==1.0
pypiwin32==223 ; sys_platform == 'win32'
PyYAML==5.3
pytsk3==20190507
PyInstaller==3.5
psutil==5.6.7
